[Unit]
Description=Data Aggregator Service with Gunicorn+Eventlet
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/COTC-project/data_aggregator
ExecStart=/bin/bash -c 'source .venv/bin/activate && gunicorn --worker-class eventlet --workers 1 --bind 0.0.0.0:8000 wsgi:application'
Environment="PYTHONPATH=/home/ubuntu/COTC-project"
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=simple
StandardError=syslog
StandardOutput=journal

[Install]
WantedBy=multi-user.target 